.topPicksCard {
  padding: 20px 0;
}
.title {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin: 6px 0 6px 0;
}
.artist {
  color: #9eacb9;
  font-size: 12px;
  font-weight: 400;
}
.img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 0px 4px 20px 0px #00000033;
}
/* Media Queries */
@media screen and (max-width: 576px) {
  .img {
    width: 190px;
    height: 190px;
  }
}
@media screen and (max-width: 380px) {
  .img {
    width: 150px;
    height: 150px;
  }
}
