.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 10px;
  margin-bottom: 20px;
}
.viewAll {
  font-size: 15px;
  font-weight: 600;
  color: #425466;
}
.topPicks {
  margin-bottom: 36px;
  padding: 10px 16px;
}
.divSwiper {
  width: 100%;
}
