.title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 6px 0 6px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Number of lines to show */
  line-clamp: 1;
  text-overflow: ellipsis;
  transition: var(--transition);
}
.artist {
  color: #9eacb9;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Number of lines to show */
  line-clamp: 1;
  text-overflow: ellipsis;
}
.img {
  border-radius: 12px;
}
.topPicksCard:hover .title {
  color: var(--primary-color);
}
/* Media Queries */
@media screen and (max-width: 380px) {
  .img {
    width: 150px;
    height: 150px;
  }
}
